USE [Infertility_Treatment]
GO
/****** Object:  StoredProcedure [dbo].[sp_validate_treatment_plan_creation]    Script Date: 7/16/2025 4:31:22 PM ******/
DROP PROCEDURE [dbo].[sp_validate_treatment_plan_creation]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [CK__users__gender__44CA3770]
GO
ALTER TABLE [dbo].[treatment_schedule] DROP CONSTRAINT [CK__treatment__treat__43D61337]
GO
ALTER TABLE [dbo].[treatment_schedule] DROP CONSTRAINT [CK__treatment__statu__42E1EEFE]
GO
ALTER TABLE [dbo].[treatment_result] DROP CONSTRAINT [CK__treatment__statu__41EDCAC5]
GO
ALTER TABLE [dbo].[treatment_phase_status] DROP CONSTRAINT [CK__treatment__statu__40F9A68C]
GO
ALTER TABLE [dbo].[service_request] DROP CONSTRAINT [CK__service_r__statu__40058253]
GO
ALTER TABLE [dbo].[service_request] DROP CONSTRAINT [CK__service_r__docto__3F115E1A]
GO
ALTER TABLE [dbo].[role] DROP CONSTRAINT [CK__role__role_type__3E1D39E1]
GO
ALTER TABLE [dbo].[profile] DROP CONSTRAINT [CK__profile__status__3D2915A8]
GO
ALTER TABLE [dbo].[notification] DROP CONSTRAINT [CK__notificat__statu__3C34F16F]
GO
ALTER TABLE [dbo].[notification] DROP CONSTRAINT [CK__notificat__notif__3B40CD36]
GO
ALTER TABLE [dbo].[clinical_result] DROP CONSTRAINT [CK__clinical___resul__3A4CA8FD]
GO
ALTER TABLE [dbo].[blog] DROP CONSTRAINT [CK__blog__status__04E4BC85]
GO
ALTER TABLE [dbo].[appointmentProposal] DROP CONSTRAINT [CK__appointme__statu__3864608B]
GO
ALTER TABLE [dbo].[appointment] DROP CONSTRAINT [CK__appointme__check__37703C52]
GO
ALTER TABLE [dbo].[treatment_workflow_log] DROP CONSTRAINT [FK_workflow_log_treatment_plan]
GO
ALTER TABLE [dbo].[treatment_schedule] DROP CONSTRAINT [FK__treatment__plan___3587F3E0]
GO
ALTER TABLE [dbo].[treatment_result] DROP CONSTRAINT [FK__treatment__sched__3493CFA7]
GO
ALTER TABLE [dbo].[treatment_plan] DROP CONSTRAINT [FK__treatment__templ__31B762FC]
GO
ALTER TABLE [dbo].[treatment_phase_status] DROP CONSTRAINT [FK__treatment__treat__339FAB6E]
GO
ALTER TABLE [dbo].[treatment_phase_status] DROP CONSTRAINT [FK__treatment__phase__32AB8735]
GO
ALTER TABLE [dbo].[service_request] DROP CONSTRAINT [FK_ServiceRequest_Service]
GO
ALTER TABLE [dbo].[service_request] DROP CONSTRAINT [FK__service_r__custo__2FCF1A8A]
GO
ALTER TABLE [dbo].[role] DROP CONSTRAINT [FK__role__user_id__2EDAF651]
GO
ALTER TABLE [dbo].[profile] DROP CONSTRAINT [FK__profile__user_id__2DE6D218]
GO
ALTER TABLE [dbo].[password_reset_token] DROP CONSTRAINT [fk_password_reset_user]
GO
ALTER TABLE [dbo].[notification] DROP CONSTRAINT [FK__notificat__user___2BFE89A6]
GO
ALTER TABLE [dbo].[notification] DROP CONSTRAINT [FK__notificat__sched__2B0A656D]
GO
ALTER TABLE [dbo].[email_verification_token] DROP CONSTRAINT [FK__email_ver__user___2A164134]
GO
ALTER TABLE [dbo].[doctorAssignment] DROP CONSTRAINT [FK__doctorAss__reque__29221CFB]
GO
ALTER TABLE [dbo].[doctorAssignment] DROP CONSTRAINT [FK__doctorAss__assig__282DF8C2]
GO
ALTER TABLE [dbo].[doctor_work_schedule] DROP CONSTRAINT [FK_Doctor_Schedule_User]
GO
ALTER TABLE [dbo].[comment] DROP CONSTRAINT [FK__comment__user_id__2645B050]
GO
ALTER TABLE [dbo].[comment] DROP CONSTRAINT [FK__comment__parent___25518C17]
GO
ALTER TABLE [dbo].[comment] DROP CONSTRAINT [FK__comment__blog_id__245D67DE]
GO
ALTER TABLE [dbo].[blog_images] DROP CONSTRAINT [FKick7fmlc9g77g6yxscfssqqwu]
GO
ALTER TABLE [dbo].[blog] DROP CONSTRAINT [FK__blog__author_id__22751F6C]
GO
ALTER TABLE [dbo].[appointmentProposal] DROP CONSTRAINT [FK__appointme__reque__2180FB33]
GO
ALTER TABLE [dbo].[appointment] DROP CONSTRAINT [FK__appointme__reque__208CD6FA]
GO
ALTER TABLE [dbo].[appointment] DROP CONSTRAINT [FK__appointme__docto__1F98B2C1]
GO
ALTER TABLE [dbo].[appointment] DROP CONSTRAINT [FK__appointme__custo__1EA48E88]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [DF__users__is_email___1DB06A4F]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [DF__users__created_a__1CBC4616]
GO
ALTER TABLE [dbo].[users] DROP CONSTRAINT [DF__users__user_id__1BC821DD]
GO
ALTER TABLE [dbo].[treatment_workflow_log] DROP CONSTRAINT [DF__treatment__actio__1AD3FDA4]
GO
ALTER TABLE [dbo].[treatment_workflow_log] DROP CONSTRAINT [DF__treatment__log_i__19DFD96B]
GO
ALTER TABLE [dbo].[treatment_schedule] DROP CONSTRAINT [DF__treatment__creat__18EBB532]
GO
ALTER TABLE [dbo].[treatment_schedule] DROP CONSTRAINT [DF__treatment__sched__17F790F9]
GO
ALTER TABLE [dbo].[treatment_result] DROP CONSTRAINT [DF__treatment__creat__17036CC0]
GO
ALTER TABLE [dbo].[treatment_result] DROP CONSTRAINT [DF__treatment__resul__160F4887]
GO
ALTER TABLE [dbo].[treatment_plan_template] DROP CONSTRAINT [DF__treatment__statu__123EB7A3]
GO
ALTER TABLE [dbo].[treatment_plan_template] DROP CONSTRAINT [DF__treatment__is_ac__114A936A]
GO
ALTER TABLE [dbo].[treatment_plan_template] DROP CONSTRAINT [DF__treatment__creat__10566F31]
GO
ALTER TABLE [dbo].[treatment_plan_template] DROP CONSTRAINT [DF__treatment__templ__0F624AF8]
GO
ALTER TABLE [dbo].[treatment_plan] DROP CONSTRAINT [DF__treatment__versi__0E6E26BF]
GO
ALTER TABLE [dbo].[treatment_plan] DROP CONSTRAINT [DF__treatment__is_lo__0D7A0286]
GO
ALTER TABLE [dbo].[treatment_plan] DROP CONSTRAINT [DF__treatment__creat__0C85DE4D]
GO
ALTER TABLE [dbo].[treatment_plan] DROP CONSTRAINT [DF__treatment__plan___0B91BA14]
GO
ALTER TABLE [dbo].[treatment_phase_status] DROP CONSTRAINT [DF__treatment__statu__151B244E]
GO
ALTER TABLE [dbo].[treatment_phase] DROP CONSTRAINT [DF__treatment__creat__14270015]
GO
ALTER TABLE [dbo].[treatment_phase] DROP CONSTRAINT [DF__treatment__phase__1332DBDC]
GO
ALTER TABLE [dbo].[service_request] DROP CONSTRAINT [DF__service_r__creat__0A9D95DB]
GO
ALTER TABLE [dbo].[service_request] DROP CONSTRAINT [DF__service_r__reque__09A971A2]
GO
ALTER TABLE [dbo].[service] DROP CONSTRAINT [DF__service__created__08B54D69]
GO
ALTER TABLE [dbo].[service] DROP CONSTRAINT [DF__service__service__07C12930]
GO
ALTER TABLE [dbo].[profile] DROP CONSTRAINT [DF__profile__profile__06CD04F7]
GO
ALTER TABLE [dbo].[notification] DROP CONSTRAINT [DF__notificat__notif__05D8E0BE]
GO
ALTER TABLE [dbo].[doctorAssignment] DROP CONSTRAINT [DF__doctorAss__assig__04E4BC85]
GO
ALTER TABLE [dbo].[doctorAssignment] DROP CONSTRAINT [DF__doctorAss__assig__03F0984C]
GO
ALTER TABLE [dbo].[doctor_work_schedule] DROP CONSTRAINT [DF__doctor_wo__sched__02FC7413]
GO
ALTER TABLE [dbo].[comment] DROP CONSTRAINT [DF__comment__is_visi__02084FDA]
GO
ALTER TABLE [dbo].[comment] DROP CONSTRAINT [DF__comment__created__01142BA1]
GO
ALTER TABLE [dbo].[comment] DROP CONSTRAINT [DF__comment__comment__00200768]
GO
ALTER TABLE [dbo].[clinical_result] DROP CONSTRAINT [DF__clinical___creat__7F2BE32F]
GO
ALTER TABLE [dbo].[clinical_result] DROP CONSTRAINT [DF__clinical___resul__7E37BEF6]
GO
ALTER TABLE [dbo].[blog] DROP CONSTRAINT [DF__blog__created_at__7D439ABD]
GO
ALTER TABLE [dbo].[blog] DROP CONSTRAINT [DF__blog__view_count__7C4F7684]
GO
ALTER TABLE [dbo].[blog] DROP CONSTRAINT [DF__blog__blog_id__7B5B524B]
GO
ALTER TABLE [dbo].[appointmentProposal] DROP CONSTRAINT [DF__appointme__creat__7A672E12]
GO
ALTER TABLE [dbo].[appointmentProposal] DROP CONSTRAINT [DF__appointme__propo__797309D9]
GO
ALTER TABLE [dbo].[appointment] DROP CONSTRAINT [DF__appointme__creat__787EE5A0]
GO
ALTER TABLE [dbo].[appointment] DROP CONSTRAINT [DF__appointme__appoi__778AC167]
GO
/****** Object:  Index [UQ__users__AB6E6164F37542DE]    Script Date: 7/16/2025 4:31:22 PM ******/
ALTER TABLE [dbo].[users] DROP CONSTRAINT [UQ__users__AB6E6164F37542DE]
GO
/****** Object:  Index [UK_one_active_plan_per_patient]    Script Date: 7/16/2025 4:31:22 PM ******/
DROP INDEX [UK_one_active_plan_per_patient] ON [dbo].[treatment_plan]
GO
/****** Object:  Index [UQ__password__B9BE370EE569F0B0]    Script Date: 7/16/2025 4:31:22 PM ******/
ALTER TABLE [dbo].[password_reset_token] DROP CONSTRAINT [UQ__password__B9BE370EE569F0B0]
GO
/****** Object:  Index [UQ__email_ve__CA90DA7AF3077059]    Script Date: 7/16/2025 4:31:22 PM ******/
ALTER TABLE [dbo].[email_verification_token] DROP CONSTRAINT [UQ__email_ve__CA90DA7AF3077059]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[users]') AND type in (N'U'))
DROP TABLE [dbo].[users]
GO
/****** Object:  Table [dbo].[treatment_workflow_log]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[treatment_workflow_log]') AND type in (N'U'))
DROP TABLE [dbo].[treatment_workflow_log]
GO
/****** Object:  Table [dbo].[treatment_schedule]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[treatment_schedule]') AND type in (N'U'))
DROP TABLE [dbo].[treatment_schedule]
GO
/****** Object:  Table [dbo].[treatment_result]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[treatment_result]') AND type in (N'U'))
DROP TABLE [dbo].[treatment_result]
GO
/****** Object:  Table [dbo].[treatment_plan_template]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[treatment_plan_template]') AND type in (N'U'))
DROP TABLE [dbo].[treatment_plan_template]
GO
/****** Object:  Table [dbo].[treatment_plan]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[treatment_plan]') AND type in (N'U'))
DROP TABLE [dbo].[treatment_plan]
GO
/****** Object:  Table [dbo].[treatment_phase_status]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[treatment_phase_status]') AND type in (N'U'))
DROP TABLE [dbo].[treatment_phase_status]
GO
/****** Object:  Table [dbo].[treatment_phase]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[treatment_phase]') AND type in (N'U'))
DROP TABLE [dbo].[treatment_phase]
GO
/****** Object:  Table [dbo].[service_request]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[service_request]') AND type in (N'U'))
DROP TABLE [dbo].[service_request]
GO
/****** Object:  Table [dbo].[service]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[service]') AND type in (N'U'))
DROP TABLE [dbo].[service]
GO
/****** Object:  Table [dbo].[role]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[role]') AND type in (N'U'))
DROP TABLE [dbo].[role]
GO
/****** Object:  Table [dbo].[reminder_log]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[reminder_log]') AND type in (N'U'))
DROP TABLE [dbo].[reminder_log]
GO
/****** Object:  Table [dbo].[profile]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[profile]') AND type in (N'U'))
DROP TABLE [dbo].[profile]
GO
/****** Object:  Table [dbo].[password_reset_token]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[password_reset_token]') AND type in (N'U'))
DROP TABLE [dbo].[password_reset_token]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[notification]') AND type in (N'U'))
DROP TABLE [dbo].[notification]
GO
/****** Object:  Table [dbo].[email_verification_token]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[email_verification_token]') AND type in (N'U'))
DROP TABLE [dbo].[email_verification_token]
GO
/****** Object:  Table [dbo].[doctorAssignment]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[doctorAssignment]') AND type in (N'U'))
DROP TABLE [dbo].[doctorAssignment]
GO
/****** Object:  Table [dbo].[doctor_work_schedule]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[doctor_work_schedule]') AND type in (N'U'))
DROP TABLE [dbo].[doctor_work_schedule]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[comment]') AND type in (N'U'))
DROP TABLE [dbo].[comment]
GO
/****** Object:  Table [dbo].[clinical_result]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[clinical_result]') AND type in (N'U'))
DROP TABLE [dbo].[clinical_result]
GO
/****** Object:  Table [dbo].[blog_images]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog_images]') AND type in (N'U'))
DROP TABLE [dbo].[blog_images]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[blog]') AND type in (N'U'))
DROP TABLE [dbo].[blog]
GO
/****** Object:  Table [dbo].[appointmentProposal]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[appointmentProposal]') AND type in (N'U'))
DROP TABLE [dbo].[appointmentProposal]
GO
/****** Object:  Table [dbo].[appointment]    Script Date: 7/16/2025 4:31:22 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[appointment]') AND type in (N'U'))
DROP TABLE [dbo].[appointment]
GO
USE [master]
GO
/****** Object:  Database [Infertility_Treatment]    Script Date: 7/16/2025 4:31:22 PM ******/
DROP DATABASE [Infertility_Treatment]
GO
/****** Object:  Database [Infertility_Treatment]    Script Date: 7/16/2025 4:31:22 PM ******/
CREATE DATABASE [Infertility_Treatment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Infertility_Treatment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Infertility_Treatment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Infertility_Treatment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Infertility_Treatment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Infertility_Treatment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Infertility_Treatment]
GO
/****** Object:  Table [dbo].[appointment]    Script Date: 7/16/2025 4:31:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointment](
	[appointment_id] [uniqueidentifier] NOT NULL,
	[request_id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[appointment_time] [datetime] NOT NULL,
	[room] [nvarchar](100) NULL,
	[check_in_status] [varchar](20) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointmentProposal]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointmentProposal](
	[proposal_id] [uniqueidentifier] NOT NULL,
	[request_id] [uniqueidentifier] NOT NULL,
	[proposed_datetime] [datetime] NOT NULL,
	[room] [nvarchar](100) NULL,
	[expiration_time] [datetime] NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[proposal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[blog_id] [uniqueidentifier] NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NULL,
	[cover_image] [varchar](255) NULL,
	[tags] [nvarchar](max) NULL,
	[status] [varchar](20) NOT NULL,
	[view_count] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[approved_at] [datetime2](6) NULL,
	[approved_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_images]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_images](
	[blog_id] [uniqueidentifier] NOT NULL,
	[image_path] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clinical_result]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clinical_result](
	[result_id] [uniqueidentifier] NOT NULL,
	[result_type] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
	[blood_pressure_diastolic] [int] NULL,
	[blood_pressure_systolic] [int] NULL,
	[blood_type] [varchar](10) NULL,
	[bmi] [numeric](4, 2) NULL,
	[completion_date] [datetime2](6) NULL,
	[creatinine] [numeric](4, 2) NULL,
	[diagnosis] [varchar](500) NULL,
	[diagnosis_code] [varchar](20) NULL,
	[doctor_id] [uniqueidentifier] NULL,
	[endometrial_thickness] [numeric](4, 1) NULL,
	[examination_date] [datetime2](6) NULL,
	[follicle_count_left] [int] NULL,
	[follicle_count_right] [int] NULL,
	[glucose] [numeric](4, 1) NULL,
	[heart_rate] [int] NULL,
	[height] [numeric](5, 2) NULL,
	[hemoglobin] [numeric](4, 1) NULL,
	[infertility_duration_months] [int] NULL,
	[is_completed] [bit] NULL,
	[next_appointment_date] [datetime2](6) NULL,
	[ovary_size_left] [numeric](4, 1) NULL,
	[ovary_size_right] [numeric](4, 1) NULL,
	[patient_id] [uniqueidentifier] NULL,
	[platelet_count] [int] NULL,
	[previous_treatments] [nvarchar](max) NULL,
	[recommendations] [nvarchar](max) NULL,
	[severity_level] [varchar](20) NULL,
	[temperature] [numeric](4, 1) NULL,
	[treatment_priority] [varchar](20) NULL,
	[ultrasound_findings] [nvarchar](max) NULL,
	[weight] [numeric](5, 2) NULL,
	[white_blood_cell] [numeric](6, 2) NULL,
	[amh_level] [numeric](6, 2) NULL,
	[attached_file_url] [varchar](500) NULL,
	[estradiol_level] [numeric](8, 2) NULL,
	[fsh_level] [numeric](6, 2) NULL,
	[lh_level] [numeric](6, 2) NULL,
	[notes] [nvarchar](max) NULL,
	[prolactin_level] [numeric](6, 2) NULL,
	[symptoms] [nvarchar](max) NULL,
	[symptoms_detail] [nvarchar](max) NULL,
	[testosterone_level] [numeric](6, 2) NULL,
	[appointment_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_clinical_result] PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[comment_id] [uniqueidentifier] NOT NULL,
	[blog_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[parent_id] [uniqueidentifier] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[is_visible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_work_schedule]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_work_schedule](
	[schedule_id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[day_of_week] [int] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[room] [nvarchar](100) NOT NULL,
	[effective_from] [date] NULL,
	[effective_to] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctorAssignment]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctorAssignment](
	[assignment_id] [uniqueidentifier] NOT NULL,
	[request_id] [uniqueidentifier] NOT NULL,
	[assigned_doctor_id] [uniqueidentifier] NOT NULL,
	[assigned_by] [uniqueidentifier] NULL,
	[previous_doctor_id] [uniqueidentifier] NULL,
	[reason] [nvarchar](max) NULL,
	[assigned_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[email_verification_token]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_verification_token](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[token] [varchar](255) NOT NULL,
	[expiry_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[notification_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[schedule_id] [uniqueidentifier] NULL,
	[notification_type] [varchar](20) NOT NULL,
	[message] [nvarchar](max) NULL,
	[send_time] [datetime] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[config_reminder_time] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_token]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_token](
	[id] [uniqueidentifier] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[expiry_date] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profile]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profile](
	[profile_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[specialty] [nvarchar](255) NULL,
	[qualification] [nvarchar](255) NULL,
	[experience_years] [int] NULL,
	[rating] [float] NULL,
	[case_count] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[status] [varchar](20) NOT NULL,
	[marital_status] [nvarchar](100) NULL,
	[health_background] [nvarchar](max) NULL,
	[avatarUrl] [nvarchar](255) NULL,
	[assigned_department] [varchar](255) NULL,
	[extra_permissions] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reminder_log]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reminder_log](
	[reminder_id] [uniqueidentifier] NOT NULL,
	[appointment_id] [uniqueidentifier] NULL,
	[channel] [varchar](255) NULL,
	[reminder_time] [datetime2](6) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[reminder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[role_type] [varchar](20) NOT NULL,
	[role_level] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service](
	[service_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [numeric](38, 2) NULL,
	[estimated_duration] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_request]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_request](
	[request_id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[preferred_datetime] [datetime] NULL,
	[note] [nvarchar](max) NULL,
	[doctor_selection] [varchar](10) NULL,
	[preferred_doctor_id] [uniqueidentifier] NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[service_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_phase]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_phase](
	[phase_id] [uniqueidentifier] NOT NULL,
	[service_id] [uniqueidentifier] NOT NULL,
	[phase_name] [nvarchar](255) NOT NULL,
	[phase_order] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[expected_duration] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[phase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_phase_status]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_phase_status](
	[status_id] [uniqueidentifier] NOT NULL,
	[treatment_plan_id] [uniqueidentifier] NOT NULL,
	[phase_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[notes] [nvarchar](max) NULL,
	[created_by] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
	[created_at] [datetime2](6) NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_plan]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_plan](
	[plan_id] [uniqueidentifier] NOT NULL,
	[template_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
	[contraindications] [nvarchar](max) NULL,
	[current_phase] [uniqueidentifier] NULL,
	[doctor_id] [uniqueidentifier] NULL,
	[end_date] [datetime2](6) NULL,
	[estimated_cost] [numeric](12, 2) NULL,
	[estimated_duration_days] [int] NULL,
	[medication_plan] [nvarchar](max) NULL,
	[monitoring_schedule] [nvarchar](max) NULL,
	[patient_id] [uniqueidentifier] NULL,
	[plan_description] [nvarchar](max) NULL,
	[plan_name] [varchar](255) NULL,
	[risk_factors] [nvarchar](max) NULL,
	[start_date] [datetime2](6) NULL,
	[status] [varchar](20) NULL,
	[success_probability] [numeric](4, 2) NULL,
	[treatment_steps] [nvarchar](max) NULL,
	[treatment_type] [varchar](20) NULL,
	[is_locked] [bit] NULL,
	[version_number] [int] NULL,
	[treatment_cycle] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_plan_template]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_plan_template](
	[template_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[treatment_type] [nvarchar](20) NULL,
	[plan_name] [nvarchar](255) NULL,
	[plan_description] [nvarchar](max) NULL,
	[estimated_duration_days] [int] NULL,
	[estimated_cost] [decimal](12, 2) NULL,
	[treatment_steps] [nvarchar](max) NULL,
	[medication_plan] [nvarchar](max) NULL,
	[monitoring_schedule] [nvarchar](max) NULL,
	[success_probability] [decimal](4, 2) NULL,
	[risk_factors] [nvarchar](max) NULL,
	[contraindications] [nvarchar](max) NULL,
	[treatment_cycle] [int] NULL,
	[created_by] [nvarchar](255) NULL,
	[is_active] [bit] NULL,
	[status] [nvarchar](20) NULL,
	[updated_by] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_result]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_result](
	[result_id] [uniqueidentifier] NOT NULL,
	[schedule_step_id] [uniqueidentifier] NOT NULL,
	[summary] [nvarchar](max) NULL,
	[details] [nvarchar](max) NULL,
	[complication_note] [nvarchar](max) NULL,
	[file_url] [varchar](255) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[created_by] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
	[completion_date] [datetime2](6) NULL,
	[complication_severity] [varchar](20) NULL,
	[complications] [nvarchar](max) NULL,
	[doctor_id] [varchar](255) NULL,
	[eggs_retrieved] [int] NULL,
	[embryo_quality] [varchar](20) NULL,
	[embryos_formed] [int] NULL,
	[embryos_transferred] [int] NULL,
	[fertilized_eggs] [int] NULL,
	[hcg_level] [numeric](6, 2) NULL,
	[hcg_test_date] [datetime2](6) NULL,
	[insemination_technique] [varchar](50) NULL,
	[insemination_time] [datetime2](6) NULL,
	[is_completed] [bit] NULL,
	[mature_eggs] [int] NULL,
	[medication_given] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[outcome] [varchar](50) NULL,
	[outcome_date] [datetime2](6) NULL,
	[patient_id] [uniqueidentifier] NULL,
	[phase_id] [uniqueidentifier] NULL,
	[pregnancy_test_result] [varchar](20) NULL,
	[review_date] [datetime2](6) NULL,
	[reviewed_by] [varchar](255) NULL,
	[side_effects] [nvarchar](max) NULL,
	[sperm_count] [int] NULL,
	[sperm_morphology] [numeric](4, 1) NULL,
	[sperm_motility] [numeric](4, 1) NULL,
	[success_rate] [numeric](4, 2) NULL,
	[transfer_date] [datetime2](6) NULL,
	[transfer_technique] [varchar](50) NULL,
	[treatment_date] [datetime2](6) NULL,
	[treatment_plan_id] [uniqueidentifier] NULL,
	[ultrasound_fetal_heartbeat] [bit] NULL,
	[ultrasound_gestational_sac] [bit] NULL,
	[updated_at] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_schedule]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_schedule](
	[schedule_id] [uniqueidentifier] NOT NULL,
	[plan_id] [uniqueidentifier] NOT NULL,
	[scheduled_date] [datetime] NOT NULL,
	[treatment_type] [varchar](50) NOT NULL,
	[room_id] [varchar](255) NULL,
	[status] [varchar](20) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](255) NULL,
	[updated_by] [varchar](255) NULL,
	[doctor_id] [uniqueidentifier] NULL,
	[patient_id] [uniqueidentifier] NULL,
	[completed_at] [datetime2](6) NULL,
	[deadline] [datetime2](6) NULL,
	[grace_period_days] [int] NULL,
	[step_name] [varchar](255) NOT NULL,
	[step_number] [int] NOT NULL,
	[clinical_result_id] [uniqueidentifier] NULL,
	[result_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_workflow_log]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_workflow_log](
	[log_id] [uniqueidentifier] NOT NULL,
	[treatment_plan_id] [uniqueidentifier] NOT NULL,
	[action_type] [nvarchar](50) NOT NULL,
	[previous_status] [nvarchar](20) NULL,
	[new_status] [nvarchar](20) NULL,
	[performed_by] [nvarchar](255) NOT NULL,
	[action_timestamp] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [uniqueidentifier] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[gender] [varchar](10) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[avatar_url] [varchar](255) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[password] [varchar](255) NOT NULL,
	[is_email_verified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[appointment] ([appointment_id], [request_id], [doctor_id], [customer_id], [appointment_time], [room], [check_in_status], [created_at], [updated_at]) VALUES (N'668d3832-1084-45eb-bc64-08b56eb6025f', N'4a147985-f43f-41d4-b8b2-4c2a3a407eb5', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', N'0b3c2be6-fd99-4641-9564-8e1648226f69', CAST(N'2025-07-23T09:00:00.000' AS DateTime), N'301', N'Pending', CAST(N'2025-07-10T20:33:58.403' AS DateTime), CAST(N'2025-07-10T20:33:58.393' AS DateTime))
INSERT [dbo].[appointment] ([appointment_id], [request_id], [doctor_id], [customer_id], [appointment_time], [room], [check_in_status], [created_at], [updated_at]) VALUES (N'597e110b-3c20-483e-87f4-336e3ebecc04', N'a93ad830-770b-4154-bdbf-b5fd1062fedd', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', N'0b3c2be6-fd99-4641-9564-8e1648226f69', CAST(N'2025-07-23T08:00:00.000' AS DateTime), N'301', N'Pending', CAST(N'2025-07-10T16:02:39.993' AS DateTime), CAST(N'2025-07-10T16:02:39.983' AS DateTime))
INSERT [dbo].[appointment] ([appointment_id], [request_id], [doctor_id], [customer_id], [appointment_time], [room], [check_in_status], [created_at], [updated_at]) VALUES (N'a1a8a69a-5044-4175-bc8b-57e2894b9705', N'c630d138-a5ef-4bb4-9c5e-e0e6ff87966b', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', N'0b3c2be6-fd99-4641-9564-8e1648226f69', CAST(N'2025-07-25T08:00:00.000' AS DateTime), N'301', N'Pending', CAST(N'2025-07-10T16:07:31.453' AS DateTime), CAST(N'2025-07-10T16:07:31.450' AS DateTime))
GO
INSERT [dbo].[doctor_work_schedule] ([schedule_id], [doctor_id], [day_of_week], [start_time], [end_time], [room], [effective_from], [effective_to]) VALUES (N'6e71da71-78af-4294-9576-0873487bf740', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', 5, CAST(N'07:00:00' AS Time), CAST(N'18:00:00' AS Time), N'301', NULL, NULL)
INSERT [dbo].[doctor_work_schedule] ([schedule_id], [doctor_id], [day_of_week], [start_time], [end_time], [room], [effective_from], [effective_to]) VALUES (N'bb9594f3-50e9-46d5-93e6-266e9f8ee186', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', 6, CAST(N'07:00:00' AS Time), CAST(N'11:00:00' AS Time), N'301', NULL, NULL)
INSERT [dbo].[doctor_work_schedule] ([schedule_id], [doctor_id], [day_of_week], [start_time], [end_time], [room], [effective_from], [effective_to]) VALUES (N'bb9594f3-50e9-46d5-93e6-266e9f8ee187', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', 4, CAST(N'07:00:00' AS Time), CAST(N'18:00:00' AS Time), N'301', NULL, NULL)
GO
INSERT [dbo].[password_reset_token] ([id], [token], [user_id], [expiry_date]) VALUES (N'3e7fd358-c7c0-4879-ba0c-59c17a9bbc6c', N'd8c964f4-e72b-4710-b235-49a4e8341ea8', N'5f6db14e-02f7-469b-a82e-8a13dfe32141', CAST(N'2025-07-10T14:04:15.5139368' AS DateTime2))
GO
INSERT [dbo].[profile] ([profile_id], [user_id], [specialty], [qualification], [experience_years], [rating], [case_count], [notes], [status], [marital_status], [health_background], [avatarUrl], [assigned_department], [extra_permissions]) VALUES (N'772e835b-6844-4dc6-8b8b-024fa7da4f12', N'1357f729-43a7-46e9-898d-8da05afb4f10', NULL, NULL, NULL, NULL, NULL, NULL, N'active', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[profile] ([profile_id], [user_id], [specialty], [qualification], [experience_years], [rating], [case_count], [notes], [status], [marital_status], [health_background], [avatarUrl], [assigned_department], [extra_permissions]) VALUES (N'9e1ca91c-2dfe-4ab9-a9af-4a7f0c569b08', N'54591087-95ed-4974-8ac1-18daa0735a9b', NULL, NULL, NULL, NULL, NULL, NULL, N'active', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[profile] ([profile_id], [user_id], [specialty], [qualification], [experience_years], [rating], [case_count], [notes], [status], [marital_status], [health_background], [avatarUrl], [assigned_department], [extra_permissions]) VALUES (N'f9dd6316-386e-4ced-a535-4ade35de2f9b', N'f226070d-3756-4c89-83dd-ec75ec79f866', N'Infertility Treatment', N'MD, PhD', 12, 4.9, 150, N'Expert in IVF and IUI procedures', N'active', NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[reminder_log] ([reminder_id], [appointment_id], [channel], [reminder_time], [status]) VALUES (N'bd751bfc-d908-41c8-96d0-16cc9724dc73', N'faaf3c49-d348-42f8-aa30-e35cfce532c6', N'EMAIL', CAST(N'2025-07-20T16:00:00.0000000' AS DateTime2), N'PENDING')
INSERT [dbo].[reminder_log] ([reminder_id], [appointment_id], [channel], [reminder_time], [status]) VALUES (N'1ae7d2bc-2dac-42ff-8e18-4d87710bd396', N'2fa3b526-6673-4a0e-9aca-74d2184eb792', N'EMAIL', CAST(N'2025-07-25T07:00:00.0000000' AS DateTime2), N'PENDING')
INSERT [dbo].[reminder_log] ([reminder_id], [appointment_id], [channel], [reminder_time], [status]) VALUES (N'b6e3c31e-ae6f-492c-9f87-55d5ae353d38', N'9edd237e-bb3c-4c66-9607-628649fab1f8', N'EMAIL', CAST(N'2025-07-20T14:00:00.0000000' AS DateTime2), N'PENDING')
GO
INSERT [dbo].[role] ([role_id], [user_id], [role_type], [role_level]) VALUES (N'c5bb100f-81fd-4dbd-ad99-09534c9649ac', N'cd359009-4745-4809-9e03-1e6f9139e8a2', N'CUSTOMER', 1)
INSERT [dbo].[role] ([role_id], [user_id], [role_type], [role_level]) VALUES (N'4b1f161f-61e2-4038-8b10-517f7f051306', N'1357f729-43a7-46e9-898d-8da05afb4f10', N'ADMIN', 4)
INSERT [dbo].[role] ([role_id], [user_id], [role_type], [role_level]) VALUES (N'b230fea0-ca22-4ff7-a969-6650ba134ec2', N'bcf1c8ad-7165-4075-89e6-fd04ea189502', N'ADMIN', 4)
GO
INSERT [dbo].[service] ([service_id], [name], [description], [price], [estimated_duration], [created_at]) VALUES (N'82cb6fa6-ff24-4f0c-bade-00d5a3fa84f1', N'IUI', N'Dịch vụ IUI dành cho cặp đôi vô sinh nhẹ', CAST(15000000.00 AS Numeric(38, 2)), 14, CAST(N'2025-06-16T17:54:03.603' AS DateTime))
INSERT [dbo].[service] ([service_id], [name], [description], [price], [estimated_duration], [created_at]) VALUES (N'735d0713-6e9b-4ced-9621-a30190faebf3', N'IVF', N'Dịch vụ hỗ trợ sinh sản IVF', CAST(50000000.00 AS Numeric(38, 2)), 30, CAST(N'2025-06-16T17:54:03.603' AS DateTime))
GO
INSERT [dbo].[service_request] ([request_id], [customer_id], [preferred_datetime], [note], [doctor_selection], [preferred_doctor_id], [status], [created_at], [updated_at], [service_id]) VALUES (N'46812d4b-e9ea-4fe8-93cd-0cda4377e300', N'5f6db14e-02f7-469b-a82e-8a13dfe32141', CAST(N'2025-07-14T15:00:00.000' AS DateTime), N'', N'manual', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', N'Scheduled', CAST(N'2025-07-12T23:19:25.783' AS DateTime), CAST(N'2025-07-12T23:19:25.880' AS DateTime), N'82cb6fa6-ff24-4f0c-bade-00d5a3fa84f1')
INSERT [dbo].[service_request] ([request_id], [customer_id], [preferred_datetime], [note], [doctor_selection], [preferred_doctor_id], [status], [created_at], [updated_at], [service_id]) VALUES (N'3c35b9dc-f56c-453f-a795-258ebe4cd74f', N'9d06fcd1-5e74-4e89-892e-75129f4f5d4f', CAST(N'2025-07-25T09:00:00.000' AS DateTime), N'', N'manual', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', N'Scheduled', CAST(N'2025-07-10T23:58:39.703' AS DateTime), CAST(N'2025-07-10T23:58:39.720' AS DateTime), N'82cb6fa6-ff24-4f0c-bade-00d5a3fa84f1')
INSERT [dbo].[service_request] ([request_id], [customer_id], [preferred_datetime], [note], [doctor_selection], [preferred_doctor_id], [status], [created_at], [updated_at], [service_id]) VALUES (N'9782ce76-14d1-452b-97f3-39c122eefc37', N'0b3c2be6-fd99-4641-9564-8e1648226f69', CAST(N'2025-07-21T16:00:00.000' AS DateTime), N'', N'manual', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', N'Scheduled', CAST(N'2025-07-12T23:27:18.957' AS DateTime), CAST(N'2025-07-12T23:27:18.980' AS DateTime), N'82cb6fa6-ff24-4f0c-bade-00d5a3fa84f1')
GO
INSERT [dbo].[treatment_phase] ([phase_id], [service_id], [phase_name], [phase_order], [description], [expected_duration], [created_at], [updated_at], [created_by], [updated_by]) VALUES (N'5d622d87-6395-4598-b47f-02d201b3027b', N'82cb6fa6-ff24-4f0c-bade-00d5a3fa84f1', N'Chuẩn bị và Đánh giá', 1, NULL, 4, CAST(N'2025-07-13T20:59:10.223' AS DateTime), NULL, N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', NULL)
INSERT [dbo].[treatment_phase] ([phase_id], [service_id], [phase_name], [phase_order], [description], [expected_duration], [created_at], [updated_at], [created_by], [updated_by]) VALUES (N'5bd6fcaa-d2fd-448e-9d1d-08d8ec2f0121', N'82cb6fa6-ff24-4f0c-bade-00d5a3fa84f1', N'Chuẩn bị và Đánh giá', 1, NULL, 4, CAST(N'2025-07-13T21:53:45.790' AS DateTime), NULL, N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', NULL)
INSERT [dbo].[treatment_phase] ([phase_id], [service_id], [phase_name], [phase_order], [description], [expected_duration], [created_at], [updated_at], [created_by], [updated_by]) VALUES (N'd2248fe9-5ccd-4ced-8603-25d4367cb31c', N'82cb6fa6-ff24-4f0c-bade-00d5a3fa84f1', N'Hỗ trợ và Theo dõi', 4, NULL, 14, CAST(N'2025-07-13T21:53:45.803' AS DateTime), NULL, N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', NULL)
GO
INSERT [dbo].[treatment_phase_status] ([status_id], [treatment_plan_id], [phase_id], [status], [start_date], [end_date], [notes], [created_by], [updated_by], [created_at], [updated_at]) VALUES (N'c776cb43-184f-4873-96a0-04957ee3e996', N'4255b038-1e1e-4079-b79a-6dadaf0593a1', N'0a0c7d2c-fd61-44db-8cf1-923610de310d', N'Pending', NULL, NULL, NULL, N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', NULL, CAST(N'2025-07-13T21:53:45.8013900' AS DateTime2), NULL)
INSERT [dbo].[treatment_phase_status] ([status_id], [treatment_plan_id], [phase_id], [status], [start_date], [end_date], [notes], [created_by], [updated_by], [created_at], [updated_at]) VALUES (N'81145886-704e-40a7-8e01-0a921501b6e6', N'062fdf7d-2e95-480d-9cbf-fc227d7dcdcd', N'54d7e0f3-3c1f-4de0-a86e-e942c371146e', N'Cancelled', NULL, NULL, NULL, N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', CAST(N'2025-07-13T20:59:10.2265210' AS DateTime2), CAST(N'2025-07-15T23:25:05.5162640' AS DateTime2))
GO
INSERT [dbo].[users] ([user_id], [full_name], [gender], [date_of_birth], [email], [phone], [address], [avatar_url], [created_at], [updated_at], [password], [is_email_verified]) VALUES (N'54591087-95ed-4974-8ac1-18daa0735a9b', N'Nguyễn Ngọc Như Ý', N'FEMALE', CAST(N'1995-10-12' AS Date), N'jiveyaw514@coderdir.com', N'0901432658', N'274/7 Cong Hoa', N'https://example.com/default-avatar.png', CAST(N'2025-07-14T15:08:49.387' AS DateTime), CAST(N'2025-07-14T15:09:07.410' AS DateTime), N'$2a$10$BKqu43CX9GnICvgLYKoLZOhcRUq6hjLqk1LG1zHdJ0xKE0JpofDrO', 1)
INSERT [dbo].[users] ([user_id], [full_name], [gender], [date_of_birth], [email], [phone], [address], [avatar_url], [created_at], [updated_at], [password], [is_email_verified]) VALUES (N'cd359009-4745-4809-9e03-1e6f9139e8a2', N'Customer A', N'MALE', CAST(N'1992-05-20' AS Date), N'customer@example.com', N'0900000002', N'Customer City', N'https://example.com/default-avatar.png', CAST(N'2025-07-07T20:47:31.607' AS DateTime), NULL, N'$2a$10$a40Hy8yjeMb2G/UH12AwTuokxXrEk7dgdNWEnkTRjlbe6vOz2.rS2', 0)
INSERT [dbo].[users] ([user_id], [full_name], [gender], [date_of_birth], [email], [phone], [address], [avatar_url], [created_at], [updated_at], [password], [is_email_verified]) VALUES (N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', N'Dr. Nguyễn Phạm Xuân Sơn', N'MALE', CAST(N'2025-07-02' AS Date), N'anhson20027774@gmail.com', N'0937634679', N'Đồng Nai', N'string', CAST(N'2025-07-02T09:16:03.900' AS DateTime), NULL, N'$2a$10$ctVd9dhyqQY3AwSvN01qK.xcNcIUJk279AFZwOzZmrFIZOpF77o5.', 1)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__email_ve__CA90DA7AF3077059]    Script Date: 7/16/2025 4:31:23 PM ******/
ALTER TABLE [dbo].[email_verification_token] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__password__B9BE370EE569F0B0]    Script Date: 7/16/2025 4:31:23 PM ******/
ALTER TABLE [dbo].[password_reset_token] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_one_active_plan_per_patient]    Script Date: 7/16/2025 4:31:23 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_one_active_plan_per_patient] ON [dbo].[treatment_plan]
(
	[patient_id] ASC
)
WHERE ([status]='active')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164F37542DE]    Script Date: 7/16/2025 4:31:23 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appointment] ADD  DEFAULT (newid()) FOR [appointment_id]
GO
ALTER TABLE [dbo].[appointment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[appointmentProposal] ADD  DEFAULT (newid()) FOR [proposal_id]
GO
ALTER TABLE [dbo].[appointmentProposal] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blog] ADD  DEFAULT (newid()) FOR [blog_id]
GO
ALTER TABLE [dbo].[blog] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[blog] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[clinical_result] ADD  DEFAULT (newid()) FOR [result_id]
GO
ALTER TABLE [dbo].[clinical_result] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[comment] ADD  DEFAULT (newid()) FOR [comment_id]
GO
ALTER TABLE [dbo].[comment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[comment] ADD  DEFAULT ((1)) FOR [is_visible]
GO
ALTER TABLE [dbo].[doctor_work_schedule] ADD  DEFAULT (newid()) FOR [schedule_id]
GO
ALTER TABLE [dbo].[doctorAssignment] ADD  DEFAULT (newid()) FOR [assignment_id]
GO
ALTER TABLE [dbo].[doctorAssignment] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT (newid()) FOR [notification_id]
GO
ALTER TABLE [dbo].[profile] ADD  DEFAULT (newid()) FOR [profile_id]
GO
ALTER TABLE [dbo].[service] ADD  DEFAULT (newid()) FOR [service_id]
GO
ALTER TABLE [dbo].[service] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_request] ADD  DEFAULT (newid()) FOR [request_id]
GO
ALTER TABLE [dbo].[service_request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_phase] ADD  DEFAULT (newid()) FOR [phase_id]
GO
ALTER TABLE [dbo].[treatment_phase] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_phase_status] ADD  DEFAULT (newid()) FOR [status_id]
GO
ALTER TABLE [dbo].[treatment_plan] ADD  DEFAULT (newid()) FOR [plan_id]
GO
ALTER TABLE [dbo].[treatment_plan] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_plan] ADD  DEFAULT ((0)) FOR [is_locked]
GO
ALTER TABLE [dbo].[treatment_plan] ADD  DEFAULT ((1)) FOR [version_number]
GO
ALTER TABLE [dbo].[treatment_plan_template] ADD  DEFAULT (newid()) FOR [template_id]
GO
ALTER TABLE [dbo].[treatment_plan_template] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_plan_template] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[treatment_plan_template] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[treatment_result] ADD  DEFAULT (newid()) FOR [result_id]
GO
ALTER TABLE [dbo].[treatment_result] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_schedule] ADD  DEFAULT (newid()) FOR [schedule_id]
GO
ALTER TABLE [dbo].[treatment_schedule] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_workflow_log] ADD  DEFAULT (newid()) FOR [log_id]
GO
ALTER TABLE [dbo].[treatment_workflow_log] ADD  DEFAULT (getdate()) FOR [action_timestamp]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [user_id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_email_verified]
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[service_request] ([request_id])
GO
ALTER TABLE [dbo].[appointmentProposal]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[service_request] ([request_id])
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blog_images]  WITH CHECK ADD  CONSTRAINT [FKick7fmlc9g77g6yxscfssqqwu] FOREIGN KEY([blog_id])
REFERENCES [dbo].[blog] ([blog_id])
GO
ALTER TABLE [dbo].[blog_images] CHECK CONSTRAINT [FKick7fmlc9g77g6yxscfssqqwu]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([blog_id])
REFERENCES [dbo].[blog] ([blog_id])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[doctor_work_schedule]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Schedule_User] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[doctor_work_schedule] CHECK CONSTRAINT [FK_Doctor_Schedule_User]
GO
ALTER TABLE [dbo].[doctorAssignment]  WITH CHECK ADD FOREIGN KEY([assigned_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[doctorAssignment]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[service_request] ([request_id])
GO
ALTER TABLE [dbo].[email_verification_token]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD FOREIGN KEY([schedule_id])
REFERENCES [dbo].[treatment_schedule] ([schedule_id])
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[password_reset_token]  WITH CHECK ADD  CONSTRAINT [fk_password_reset_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_reset_token] CHECK CONSTRAINT [fk_password_reset_user]
GO
ALTER TABLE [dbo].[profile]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[role]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[service_request]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[service_request]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRequest_Service] FOREIGN KEY([service_id])
REFERENCES [dbo].[service] ([service_id])
GO
ALTER TABLE [dbo].[service_request] CHECK CONSTRAINT [FK_ServiceRequest_Service]
GO
ALTER TABLE [dbo].[treatment_phase_status]  WITH CHECK ADD FOREIGN KEY([phase_id])
REFERENCES [dbo].[treatment_phase] ([phase_id])
GO
ALTER TABLE [dbo].[treatment_phase_status]  WITH CHECK ADD FOREIGN KEY([treatment_plan_id])
REFERENCES [dbo].[treatment_plan] ([plan_id])
GO
ALTER TABLE [dbo].[treatment_plan]  WITH CHECK ADD FOREIGN KEY([template_id])
REFERENCES [dbo].[treatment_plan_template] ([template_id])
GO
ALTER TABLE [dbo].[treatment_result]  WITH CHECK ADD FOREIGN KEY([schedule_step_id])
REFERENCES [dbo].[treatment_schedule] ([schedule_id])
GO
ALTER TABLE [dbo].[treatment_schedule]  WITH CHECK ADD FOREIGN KEY([plan_id])
REFERENCES [dbo].[treatment_plan] ([plan_id])
GO
ALTER TABLE [dbo].[treatment_workflow_log]  WITH CHECK ADD  CONSTRAINT [FK_workflow_log_treatment_plan] FOREIGN KEY([treatment_plan_id])
REFERENCES [dbo].[treatment_plan] ([plan_id])
GO
ALTER TABLE [dbo].[treatment_workflow_log] CHECK CONSTRAINT [FK_workflow_log_treatment_plan]
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD CHECK  (([check_in_status]='Missed' OR [check_in_status]='CheckedIn' OR [check_in_status]='Pending'))
GO
ALTER TABLE [dbo].[appointmentProposal]  WITH CHECK ADD CHECK  (([status]='Expired' OR [status]='Rejected' OR [status]='Confirmed' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [CK__blog__status__04E4BC85] CHECK  (([status]='archived' OR [status]='published' OR [status]='pending' OR [status]='draft'))
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [CK__blog__status__04E4BC85]
GO
ALTER TABLE [dbo].[clinical_result]  WITH CHECK ADD CHECK  (([result_type]='Other' OR [result_type]='Text' OR [result_type]='Image' OR [result_type]='Lab'))
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD CHECK  (([notification_type]='App' OR [notification_type]='Email'))
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD CHECK  (([status]='Pending' OR [status]='Failed' OR [status]='Sent'))
GO
ALTER TABLE [dbo].[profile]  WITH CHECK ADD CHECK  (([status]='on_leave' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[role]  WITH CHECK ADD CHECK  (([role_type]='Admin' OR [role_type]='Manager' OR [role_type]='Doctor' OR [role_type]='Customer'))
GO
ALTER TABLE [dbo].[service_request]  WITH CHECK ADD CHECK  (([doctor_selection]='Auto' OR [doctor_selection]='Manual'))
GO
ALTER TABLE [dbo].[service_request]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='MissedAppointment' OR [status]='UnconfirmedExpired' OR [status]='Re-ProposeSchedule' OR [status]='Scheduled' OR [status]='PendingScheduleProposal' OR [status]='PendingAssignment'))
GO
ALTER TABLE [dbo].[treatment_phase_status]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='In Progress' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[treatment_result]  WITH CHECK ADD CHECK  (([status]='pending' OR [status]='failed' OR [status]='success'))
GO
ALTER TABLE [dbo].[treatment_schedule]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='Scheduled'))
GO
ALTER TABLE [dbo].[treatment_schedule]  WITH CHECK ADD CHECK  (([treatment_type]='Lab Test' OR [treatment_type]='Ultrasound' OR [treatment_type]='IVF' OR [treatment_type]='IUI' OR [treatment_type]='Injection'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([gender]='OTHER' OR [gender]='FEMALE' OR [gender]='MALE'))
GO
/****** Object:  StoredProcedure [dbo].[sp_validate_treatment_plan_creation]    Script Date: 7/16/2025 4:31:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_validate_treatment_plan_creation]
    @patient_id UNIQUEIDENTIFIER,
    @treating_doctor_id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @is_valid BIT = 1;
    DECLARE @error_message NVARCHAR(500) = '';
    
    -- Check: Patient already has active plan?
    IF EXISTS (SELECT 1 FROM treatment_plan WHERE patient_id = @patient_id AND status = 'active')
    BEGIN
        SET @is_valid = 0;
        SET @error_message = 'Patient already has an active treatment plan';
    END
    
    SELECT @is_valid as is_valid, @error_message as error_message;
END

GO
USE [master]
GO
