USE [master]
GO
/****** Object:  Database [Infertility_Treatment]    Script Date: 7/3/2025 10:44:05 PM ******/
CREATE DATABASE [Infertility_Treatment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Infertility_Treatment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\Infertility_Treatment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Infertility_Treatment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\Infertility_Treatment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Infertility_Treatment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Infertility_Treatment]
GO
/****** Object:  Table [dbo].[appointment]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointment](
	[appointment_id] [uniqueidentifier] NOT NULL,
	[request_id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[appointment_time] [datetime] NOT NULL,
	[room] [nvarchar](100) NULL,
	[check_in_status] [varchar](20) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[appointmentProposal]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appointmentProposal](
	[proposal_id] [uniqueidentifier] NOT NULL,
	[request_id] [uniqueidentifier] NOT NULL,
	[proposed_datetime] [datetime] NOT NULL,
	[room] [nvarchar](100) NULL,
	[expiration_time] [datetime] NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[proposal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog](
	[blog_id] [uniqueidentifier] NOT NULL,
	[author_id] [uniqueidentifier] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[content] [nvarchar](max) NULL,
	[cover_image] [varchar](255) NULL,
	[tags] [nvarchar](max) NULL,
	[status] [varchar](20) NOT NULL,
	[view_count] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[approved_at] [datetime2](6) NULL,
	[approved_by] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_images]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_images](
	[blog_id] [uniqueidentifier] NOT NULL,
	[image_path] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clinical_result]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clinical_result](
	[result_id] [uniqueidentifier] NOT NULL,
	[visit_id] [uniqueidentifier] NOT NULL,
	[result_type] [varchar](20) NOT NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[id] [varchar](255) NOT NULL,
	[created_by] [varchar](255) NULL,
	[created_date] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[updated_date] [datetime2](6) NULL,
	[blood_pressure_diastolic] [int] NULL,
	[blood_pressure_systolic] [int] NULL,
	[blood_type] [varchar](10) NULL,
	[bmi] [numeric](4, 2) NULL,
	[completion_date] [datetime2](6) NULL,
	[creatinine] [numeric](4, 2) NULL,
	[diagnosis] [varchar](500) NULL,
	[diagnosis_code] [varchar](20) NULL,
	[doctor_id] [uniqueidentifier] NULL,
	[endometrial_thickness] [numeric](4, 1) NULL,
	[examination_date] [datetime2](6) NULL,
	[follicle_count_left] [int] NULL,
	[follicle_count_right] [int] NULL,
	[glucose] [numeric](4, 1) NULL,
	[heart_rate] [int] NULL,
	[height] [numeric](5, 2) NULL,
	[hemoglobin] [numeric](4, 1) NULL,
	[infertility_duration_months] [int] NULL,
	[is_completed] [bit] NULL,
	[next_appointment_date] [datetime2](6) NULL,
	[ovary_size_left] [numeric](4, 1) NULL,
	[ovary_size_right] [numeric](4, 1) NULL,
	[patient_id] [uniqueidentifier] NULL,
	[platelet_count] [int] NULL,
	[previous_treatments] [nvarchar](max) NULL,
	[recommendations] [nvarchar](max) NULL,
	[review_date] [datetime2](6) NULL,
	[reviewed_by] [uniqueidentifier] NULL,
	[severity_level] [varchar](20) NULL,
	[temperature] [numeric](4, 1) NULL,
	[treatment_priority] [varchar](20) NULL,
	[ultrasound_findings] [nvarchar](max) NULL,
	[weight] [numeric](5, 2) NULL,
	[white_blood_cell] [numeric](6, 2) NULL,
	[amh_level] [numeric](6, 2) NULL,
	[attached_file_url] [varchar](500) NULL,
	[estradiol_level] [numeric](8, 2) NULL,
	[fsh_level] [numeric](6, 2) NULL,
	[lh_level] [numeric](6, 2) NULL,
	[notes] [nvarchar](max) NULL,
	[prolactin_level] [numeric](6, 2) NULL,
	[symptoms] [nvarchar](max) NULL,
	[symptoms_detail] [nvarchar](max) NULL,
	[testosterone_level] [numeric](6, 2) NULL,
 CONSTRAINT [PK_clinical_result] PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[comment_id] [uniqueidentifier] NOT NULL,
	[blog_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[parent_id] [uniqueidentifier] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[is_visible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctor_work_schedule]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctor_work_schedule](
	[schedule_id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[day_of_week] [int] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[room] [nvarchar](100) NOT NULL,
	[effective_from] [date] NULL,
	[effective_to] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[doctorAssignment]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[doctorAssignment](
	[assignment_id] [uniqueidentifier] NOT NULL,
	[request_id] [uniqueidentifier] NOT NULL,
	[assigned_doctor_id] [uniqueidentifier] NOT NULL,
	[assigned_by] [uniqueidentifier] NULL,
	[previous_doctor_id] [uniqueidentifier] NULL,
	[reason] [nvarchar](max) NULL,
	[assigned_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[email_verification_token]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_verification_token](
	[id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
	[token] [varchar](255) NOT NULL,
	[expiry_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[notification_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[schedule_id] [uniqueidentifier] NULL,
	[notification_type] [varchar](20) NOT NULL,
	[message] [nvarchar](max) NULL,
	[send_time] [datetime] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[config_reminder_time] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_reset_token]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_reset_token](
	[id] [uniqueidentifier] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[expiry_date] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patient_visit]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patient_visit](
	[visit_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[doctor_id] [uniqueidentifier] NOT NULL,
	[visit_date] [datetime] NOT NULL,
	[symptoms] [nvarchar](max) NULL,
	[physical_findings] [nvarchar](max) NULL,
	[diagnosis] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[id] [varchar](255) NOT NULL,
	[created_by] [varchar](255) NULL,
	[created_date] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[updated_date] [datetime2](6) NULL,
	[appointment_id] [uniqueidentifier] NULL,
	[chief_complaint] [nvarchar](max) NULL,
	[duration_minutes] [int] NULL,
	[follow_up_required] [bit] NULL,
	[next_visit_date] [datetime2](6) NULL,
	[patient_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](20) NULL,
	[symptoms_reported] [nvarchar](max) NULL,
	[visit_type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[visit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profile]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profile](
	[profile_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[specialty] [nvarchar](255) NULL,
	[qualification] [nvarchar](255) NULL,
	[experience_years] [int] NULL,
	[rating] [float] NULL,
	[case_count] [int] NULL,
	[notes] [nvarchar](max) NULL,
	[status] [varchar](20) NOT NULL,
	[marital_status] [nvarchar](100) NULL,
	[health_background] [nvarchar](max) NULL,
	[assigned_department] [nvarchar](100) NULL,
	[extra_permissions] [nvarchar](max) NULL,
	[work_schedule] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[profile_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reminder_log]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reminder_log](
	[reminder_id] [uniqueidentifier] NOT NULL,
	[appointment_id] [uniqueidentifier] NULL,
	[channel] [varchar](255) NULL,
	[reminder_time] [datetime2](6) NULL,
	[status] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[reminder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[role_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[role_type] [varchar](20) NOT NULL,
	[role_level] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service](
	[service_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [numeric](38, 2) NULL,
	[estimated_duration] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_request]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_request](
	[request_id] [uniqueidentifier] NOT NULL,
	[customer_id] [uniqueidentifier] NOT NULL,
	[preferred_datetime] [datetime] NULL,
	[note] [nvarchar](max) NULL,
	[doctor_selection] [varchar](10) NULL,
	[preferred_doctor_id] [uniqueidentifier] NULL,
	[status] [varchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[service_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_phase]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_phase](
	[phase_id] [uniqueidentifier] NOT NULL,
	[service_id] [uniqueidentifier] NOT NULL,
	[phase_name] [nvarchar](255) NOT NULL,
	[phase_order] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[expected_duration] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[created_by] [varchar](255) NULL,
	[created_date] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[updated_date] [datetime2](6) NULL,
	[id] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_phase_status]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_phase_status](
	[status_id] [uniqueidentifier] NOT NULL,
	[treatment_plan_id] [uniqueidentifier] NOT NULL,
	[phase_id] [uniqueidentifier] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[notes] [nvarchar](max) NULL,
	[id] [varchar](255) NOT NULL,
	[created_by] [varchar](255) NULL,
	[created_date] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[updated_date] [datetime2](6) NULL,
PRIMARY KEY CLUSTERED 
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_plan]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_plan](
	[plan_id] [uniqueidentifier] NOT NULL,
	[visit_id] [uniqueidentifier] NOT NULL,
	[template_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[id] [varchar](255) NOT NULL,
	[created_by] [varchar](255) NULL,
	[created_date] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[updated_date] [datetime2](6) NULL,
	[contraindications] [nvarchar](max) NULL,
	[current_phase] [uniqueidentifier] NULL,
	[doctor_id] [uniqueidentifier] NULL,
	[end_date] [datetime2](6) NULL,
	[estimated_cost] [numeric](12, 2) NULL,
	[estimated_duration_days] [int] NULL,
	[medication_plan] [nvarchar](max) NULL,
	[monitoring_schedule] [nvarchar](max) NULL,
	[patient_id] [uniqueidentifier] NULL,
	[plan_description] [nvarchar](max) NULL,
	[plan_name] [varchar](255) NULL,
	[risk_factors] [nvarchar](max) NULL,
	[start_date] [datetime2](6) NULL,
	[status] [varchar](20) NULL,
	[success_probability] [numeric](4, 2) NULL,
	[treatment_cycle] [int] NULL,
	[treatment_steps] [nvarchar](max) NULL,
	[treatment_type] [varchar](20) NULL,
	[treating_doctor_id] [uniqueidentifier] NULL,
	[is_locked] [bit] NULL,
	[version_number] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_plan_template]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_plan_template](
	[template_id] [uniqueidentifier] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[treatment_type] [nvarchar](20) NULL,
	[plan_name] [nvarchar](255) NULL,
	[plan_description] [nvarchar](max) NULL,
	[estimated_duration_days] [int] NULL,
	[estimated_cost] [decimal](12, 2) NULL,
	[treatment_steps] [nvarchar](max) NULL,
	[medication_plan] [nvarchar](max) NULL,
	[monitoring_schedule] [nvarchar](max) NULL,
	[success_probability] [decimal](4, 2) NULL,
	[risk_factors] [nvarchar](max) NULL,
	[contraindications] [nvarchar](max) NULL,
	[treatment_cycle] [int] NULL,
	[created_by] [nvarchar](255) NULL,
	[is_active] [bit] NULL,
	[status] [nvarchar](20) NULL,
	[updated_by] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[template_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_result]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_result](
	[result_id] [uniqueidentifier] NOT NULL,
	[schedule_step_id] [uniqueidentifier] NOT NULL,
	[summary] [nvarchar](max) NULL,
	[details] [nvarchar](max) NULL,
	[complication_note] [nvarchar](max) NULL,
	[file_url] [varchar](255) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[id] [varchar](255) NOT NULL,
	[created_by] [varchar](255) NULL,
	[created_date] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[updated_date] [datetime2](6) NULL,
	[completion_date] [datetime2](6) NULL,
	[complication_severity] [varchar](20) NULL,
	[complications] [nvarchar](max) NULL,
	[doctor_id] [varchar](255) NULL,
	[eggs_retrieved] [int] NULL,
	[embryo_quality] [varchar](20) NULL,
	[embryos_formed] [int] NULL,
	[embryos_transferred] [int] NULL,
	[fertilized_eggs] [int] NULL,
	[hcg_level] [numeric](6, 2) NULL,
	[hcg_test_date] [datetime2](6) NULL,
	[insemination_technique] [varchar](50) NULL,
	[insemination_time] [datetime2](6) NULL,
	[is_completed] [bit] NULL,
	[mature_eggs] [int] NULL,
	[medication_given] [nvarchar](max) NULL,
	[notes] [nvarchar](max) NULL,
	[outcome] [varchar](50) NULL,
	[outcome_date] [datetime2](6) NULL,
	[patient_id] [uniqueidentifier] NULL,
	[phase_id] [uniqueidentifier] NULL,
	[pregnancy_test_result] [varchar](20) NULL,
	[review_date] [datetime2](6) NULL,
	[reviewed_by] [varchar](255) NULL,
	[side_effects] [nvarchar](max) NULL,
	[sperm_count] [int] NULL,
	[sperm_morphology] [numeric](4, 1) NULL,
	[sperm_motility] [numeric](4, 1) NULL,
	[success_rate] [numeric](4, 2) NULL,
	[transfer_date] [datetime2](6) NULL,
	[transfer_technique] [varchar](50) NULL,
	[treatment_date] [datetime2](6) NULL,
	[treatment_plan_id] [uniqueidentifier] NULL,
	[ultrasound_fetal_heartbeat] [bit] NULL,
	[ultrasound_gestational_sac] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[result_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_schedule]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_schedule](
	[schedule_id] [uniqueidentifier] NOT NULL,
	[plan_id] [uniqueidentifier] NOT NULL,
	[scheduled_date] [datetime] NOT NULL,
	[treatment_type] [varchar](50) NOT NULL,
	[room_id] [uniqueidentifier] NULL,
	[status] [varchar](20) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[id] [varchar](255) NOT NULL,
	[created_by] [varchar](255) NULL,
	[created_date] [datetime2](6) NULL,
	[updated_by] [varchar](255) NULL,
	[updated_date] [datetime2](6) NULL,
	[doctor_id] [uniqueidentifier] NULL,
	[patient_id] [uniqueidentifier] NULL,
	[milestone_type] [nvarchar](50) NULL,
	[appointment_deadline] [datetime2](7) NULL,
	[clinical_result_id] [uniqueidentifier] NULL,
	[completed_at] [datetime2](6) NULL,
	[deadline] [datetime2](6) NULL,
	[grace_period_days] [int] NULL,
	[patient_visit_id] [uniqueidentifier] NULL,
	[step_name] [varchar](255) NOT NULL,
	[step_number] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[treatment_workflow_log]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[treatment_workflow_log](
	[log_id] [uniqueidentifier] NOT NULL,
	[treatment_plan_id] [uniqueidentifier] NOT NULL,
	[action_type] [nvarchar](50) NOT NULL,
	[previous_status] [nvarchar](20) NULL,
	[new_status] [nvarchar](20) NULL,
	[performed_by] [nvarchar](255) NOT NULL,
	[action_timestamp] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [uniqueidentifier] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[gender] [varchar](10) NOT NULL,
	[date_of_birth] [date] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[address] [nvarchar](255) NULL,
	[avatar_url] [varchar](255) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[password] [varchar](255) NOT NULL,
	[is_email_verified] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[blog] ([blog_id], [author_id], [title], [content], [cover_image], [tags], [status], [view_count], [created_at], [updated_at], [approved_at], [approved_by]) VALUES (N'7079ff3c-603a-424f-9190-17176176e176', N'3019df6c-f2e2-49f6-ad2c-90ff3f906e78', N'string', N'string', N'string', N'string', N'pending', 0, CAST(N'2025-06-28T23:25:13.377' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[blog] ([blog_id], [author_id], [title], [content], [cover_image], [tags], [status], [view_count], [created_at], [updated_at], [approved_at], [approved_by]) VALUES (N'87621acb-88c6-4f27-a476-31ebcf6d8ab5', N'33702a81-a9fc-4776-872b-e8b05f8666b8', N'Tiêu đề', N'Nội dung', N'/api/blog-images/blog-images/abc.jpg', N'tag1, tag2', N'published', 7, CAST(N'2025-06-28T08:47:37.523' AS DateTime), CAST(N'2025-06-28T23:22:21.490' AS DateTime), CAST(N'2025-06-28T08:49:26.4936080' AS DateTime2), N'a38b2df1-49b6-4fdc-bc48-84809ca78f46')
GO
INSERT [dbo].[blog_images] ([blog_id], [image_path]) VALUES (N'87621acb-88c6-4f27-a476-31ebcf6d8ab5', N'/api/blog-images/blog-images/abc.jpg')
INSERT [dbo].[blog_images] ([blog_id], [image_path]) VALUES (N'87621acb-88c6-4f27-a476-31ebcf6d8ab5', N'...')
INSERT [dbo].[blog_images] ([blog_id], [image_path]) VALUES (N'7079ff3c-603a-424f-9190-17176176e176', N'string')
GO
INSERT [dbo].[comment] ([comment_id], [blog_id], [user_id], [content], [parent_id], [created_at], [updated_at], [is_visible]) VALUES (N'ad8bf4c8-62cf-482d-ac02-3a0261964381', N'87621acb-88c6-4f27-a476-31ebcf6d8ab5', N'3019df6c-f2e2-49f6-ad2c-90ff3f906e78', N'hhffhfh', NULL, CAST(N'2025-06-28T22:35:17.987' AS DateTime), CAST(N'2025-06-28T23:50:13.830' AS DateTime), 1)
INSERT [dbo].[comment] ([comment_id], [blog_id], [user_id], [content], [parent_id], [created_at], [updated_at], [is_visible]) VALUES (N'654d760d-59d9-43a0-8b9d-7b2a668acbab', N'87621acb-88c6-4f27-a476-31ebcf6d8ab5', N'c794374a-2c13-43e0-93e2-949e722dc0fb', N'string', N'ad8bf4c8-62cf-482d-ac02-3a0261964381', CAST(N'2025-06-28T23:42:20.330' AS DateTime), CAST(N'2025-06-28T23:50:13.853' AS DateTime), 1)
INSERT [dbo].[comment] ([comment_id], [blog_id], [user_id], [content], [parent_id], [created_at], [updated_at], [is_visible]) VALUES (N'9a11049e-31e2-4a4c-86fd-a659c10b321b', N'87621acb-88c6-4f27-a476-31ebcf6d8ab5', N'c794374a-2c13-43e0-93e2-949e722dc0fb', N'string', NULL, CAST(N'2025-06-28T23:41:43.547' AS DateTime), CAST(N'2025-06-28T23:43:59.223' AS DateTime), 1)
GO
INSERT [dbo].[doctor_work_schedule] ([schedule_id], [doctor_id], [day_of_week], [start_time], [end_time], [room], [effective_from], [effective_to]) VALUES (N'6e71da71-78af-4294-9576-0873487bf740', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', 5, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), N'Phòng 301', NULL, NULL)
INSERT [dbo].[doctor_work_schedule] ([schedule_id], [doctor_id], [day_of_week], [start_time], [end_time], [room], [effective_from], [effective_to]) VALUES (N'6e0910b9-2ce7-4613-b6c4-1d6b3d7d82df', N'c26f738d-5906-4fb4-b63b-f6a326220002', 5, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), N'Phòng 301', NULL, NULL)
INSERT [dbo].[doctor_work_schedule] ([schedule_id], [doctor_id], [day_of_week], [start_time], [end_time], [room], [effective_from], [effective_to]) VALUES (N'bb9594f3-50e9-46d5-93e6-266e9f8ee189', N'26cb203c-ede4-4ae7-a6c1-2edfe9cf8f1a', 3, CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time), N'Phòng 301', NULL, NULL)
GO
INSERT [dbo].[email_verification_token] ([id], [user_id], [token], [expiry_date]) VALUES (N'77e59c88-4440-4417-b39b-1f64d556fe63', N'485f5310-9e17-49ce-98c3-77d0cea838ae', N'9a7a14c5-a8ba-45a2-9eba-60aff765cdf0', CAST(N'2025-06-21T21:00:04.627' AS DateTime))
INSERT [dbo].[email_verification_token] ([id], [user_id], [token], [expiry_date]) VALUES (N'e8298682-5b64-4fcd-bb90-1f998e5bee60', N'65170974-da61-4734-ad07-01be1bee6c06', N'b5aca21b-1568-443b-851e-fe5103a92ddc', CAST(N'2025-06-21T21:26:45.353' AS DateTime))
INSERT [dbo].[email_verification_token] ([id], [user_id], [token], [expiry_date]) VALUES (N'fa0ccd74-1873-4189-85d7-261470fcbfb7', N'4ad59ed1-7ff5-41dd-ba0e-8abf81cd554c', N'e1560b0d-b0ae-47a3-ba17-791ec2dfd5e8', CAST(N'2025-06-21T22:56:55.977' AS DateTime))
GO
INSERT [dbo].[profile] ([profile_id], [user_id], [specialty], [qualification], [experience_years], [rating], [case_count], [notes], [status], [marital_status], [health_background], [assigned_department], [extra_permissions], [work_schedule]) VALUES (N'b883e127-9040-4a9a-b745-00bf43b18524', N'cbab7604-de1e-444a-9088-dc3e0ee038f2', NULL, NULL, NULL, NULL, NULL, NULL, N'active', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[profile] ([profile_id], [user_id], [specialty], [qualification], [experience_years], [rating], [case_count], [notes], [status], [marital_status], [health_background], [assigned_department], [extra_permissions], [work_schedule]) VALUES (N'40f74dc9-9357-4854-8b0d-15c4647f7a9d', N'466782b6-0866-40f6-9778-630b1820e572', NULL, NULL, NULL, NULL, NULL, NULL, N'active', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[profile] ([profile_id], [user_id], [specialty], [qualification], [experience_years], [rating], [case_count], [notes], [status], [marital_status], [health_background], [assigned_department], [extra_permissions], [work_schedule]) VALUES (N'8b85f36a-9ad6-40d5-9846-18244cd4639d', N'75580bd8-788f-44df-a185-25f865a2bf3b', NULL, NULL, NULL, NULL, NULL, NULL, N'active', NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[reminder_log] ([reminder_id], [appointment_id], [channel], [reminder_time], [status]) VALUES (N'88bdb099-8d9e-4ef4-ba5f-23a94cc93bad', N'53695d5e-5587-4841-a671-69e5c074fddf', N'EMAIL', CAST(N'2025-07-03T14:00:00.0000000' AS DateTime2), N'PENDING')
INSERT [dbo].[reminder_log] ([reminder_id], [appointment_id], [channel], [reminder_time], [status]) VALUES (N'9256cd6a-b9ee-4080-ad02-355746165fa4', N'6802240e-a00f-4abe-b9cf-51df5835a40a', N'EMAIL', CAST(N'2025-07-04T10:00:00.0000000' AS DateTime2), N'PENDING')
INSERT [dbo].[reminder_log] ([reminder_id], [appointment_id], [channel], [reminder_time], [status]) VALUES (N'19f9b062-97cb-4cc1-8391-abb719ced29f', N'603d745d-41ee-4c60-a1b0-13c10ca03321', N'EMAIL', CAST(N'2025-07-03T16:00:00.0000000' AS DateTime2), N'PENDING')
GO
INSERT [dbo].[role] ([role_id], [user_id], [role_type], [role_level]) VALUES (N'f13e77bc-bede-4980-b614-0b1291b7c345', N'f9b11b9b-020b-4730-93c2-b725620d41df', N'DOCTOR', 2)
INSERT [dbo].[role] ([role_id], [user_id], [role_type], [role_level]) VALUES (N'f447cfb3-de3e-4f59-ba92-0caa8c2d0879', N'c794374a-2c13-43e0-93e2-949e722dc0fb', N'DOCTOR', 2)
INSERT [dbo].[role] ([role_id], [user_id], [role_type], [role_level]) VALUES (N'c226e40b-d463-47a3-8d7d-1084b122f3dd', N'85851bfc-4bc6-417e-9fb2-21d6a92cf4d2', N'CUSTOMER', 1)
GO
INSERT [dbo].[service] ([service_id], [name], [description], [price], [estimated_duration], [created_at]) VALUES (N'82cb6fa6-ff24-4f0c-bade-00d5a3fa84f1', N'IUI', N'Dịch vụ IUI dành cho cặp đôi vô sinh nhẹ', CAST(15000000.00 AS Numeric(38, 2)), 14, CAST(N'2025-06-16T17:54:03.603' AS DateTime))
INSERT [dbo].[service] ([service_id], [name], [description], [price], [estimated_duration], [created_at]) VALUES (N'735d0713-6e9b-4ced-9621-a30190faebf3', N'IVF', N'Dịch vụ hỗ trợ sinh sản IVF', CAST(50000000.00 AS Numeric(38, 2)), 30, CAST(N'2025-06-16T17:54:03.603' AS DateTime))
GO
INSERT [dbo].[users] ([user_id], [full_name], [gender], [date_of_birth], [email], [phone], [address], [avatar_url], [created_at], [updated_at], [password], [is_email_verified]) VALUES (N'4773de14-aedc-4cf7-a62c-00c01c7bc90b', N'Sơn Nguyễn', N'MALE', CAST(N'2002-06-07' AS Date), N'moponap380@coasah.com', N'0937634997', N'Đồng Nai', N'https://example.com/default-avatar.png', CAST(N'2025-06-25T08:21:54.437' AS DateTime), CAST(N'2025-06-25T08:22:26.893' AS DateTime), N'$2a$10$UvBYiqZN3mxrq7CmkfyUX.DiByMB50XL.ygomkHjVFVi/xgT4.WP2', 1)
INSERT [dbo].[users] ([user_id], [full_name], [gender], [date_of_birth], [email], [phone], [address], [avatar_url], [created_at], [updated_at], [password], [is_email_verified]) VALUES (N'65170974-da61-4734-ad07-01be1bee6c06', N'string', N'MALE', CAST(N'2025-06-20' AS Date), N'anhson20027@gmail.com', N'0937634799', N'string', N'string', CAST(N'2025-06-20T21:26:45.297' AS DateTime), NULL, N'$2a$10$2XTlRwPVL3Uht3IcBLE/9uG881BTPdRzCHhJ83TbJnXinXcJql8Jm', 0)
INSERT [dbo].[users] ([user_id], [full_name], [gender], [date_of_birth], [email], [phone], [address], [avatar_url], [created_at], [updated_at], [password], [is_email_verified]) VALUES (N'1a2a8e6a-b336-4ec6-9f36-0d9d7ccb7550', N'Nguyễn Phạm Xuân Sơn', N'MALE', CAST(N'2002-06-07' AS Date), N'tieuviem060@gmail.com', N'0937634773', N'Đồng Nai', N'https://example.com/default-avatar.png', CAST(N'2025-06-20T22:26:39.670' AS DateTime), NULL, N'$2a$10$bmIAVJyjgCeWpcOcaeeZc.Nr5zV9Wn4xG81O2XQNwZMGGuSRl36/.', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__email_ve__CA90DA7AAE257E29]    Script Date: 7/3/2025 10:44:05 PM ******/
ALTER TABLE [dbo].[email_verification_token] ADD UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__password__B9BE370E804BC2A6]    Script Date: 7/3/2025 10:44:05 PM ******/
ALTER TABLE [dbo].[password_reset_token] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_one_active_plan_per_patient]    Script Date: 7/3/2025 10:44:05 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK_one_active_plan_per_patient] ON [dbo].[treatment_plan]
(
	[patient_id] ASC
)
WHERE ([status]='active')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164EB082385]    Script Date: 7/3/2025 10:44:05 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[appointment] ADD  DEFAULT (newid()) FOR [appointment_id]
GO
ALTER TABLE [dbo].[appointment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[appointmentProposal] ADD  DEFAULT (newid()) FOR [proposal_id]
GO
ALTER TABLE [dbo].[appointmentProposal] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blog] ADD  DEFAULT (newid()) FOR [blog_id]
GO
ALTER TABLE [dbo].[blog] ADD  DEFAULT ((0)) FOR [view_count]
GO
ALTER TABLE [dbo].[blog] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[clinical_result] ADD  DEFAULT (newid()) FOR [result_id]
GO
ALTER TABLE [dbo].[clinical_result] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[comment] ADD  DEFAULT (newid()) FOR [comment_id]
GO
ALTER TABLE [dbo].[comment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[comment] ADD  DEFAULT ((1)) FOR [is_visible]
GO
ALTER TABLE [dbo].[doctor_work_schedule] ADD  DEFAULT (newid()) FOR [schedule_id]
GO
ALTER TABLE [dbo].[doctorAssignment] ADD  DEFAULT (newid()) FOR [assignment_id]
GO
ALTER TABLE [dbo].[doctorAssignment] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT (newid()) FOR [notification_id]
GO
ALTER TABLE [dbo].[patient_visit] ADD  DEFAULT (newid()) FOR [visit_id]
GO
ALTER TABLE [dbo].[patient_visit] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[profile] ADD  DEFAULT (newid()) FOR [profile_id]
GO
ALTER TABLE [dbo].[service] ADD  DEFAULT (newid()) FOR [service_id]
GO
ALTER TABLE [dbo].[service] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service_request] ADD  DEFAULT (newid()) FOR [request_id]
GO
ALTER TABLE [dbo].[service_request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_phase] ADD  DEFAULT (newid()) FOR [phase_id]
GO
ALTER TABLE [dbo].[treatment_phase] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_phase_status] ADD  DEFAULT (newid()) FOR [status_id]
GO
ALTER TABLE [dbo].[treatment_plan] ADD  DEFAULT (newid()) FOR [plan_id]
GO
ALTER TABLE [dbo].[treatment_plan] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_plan] ADD  DEFAULT ((0)) FOR [is_locked]
GO
ALTER TABLE [dbo].[treatment_plan] ADD  DEFAULT ((1)) FOR [version_number]
GO
ALTER TABLE [dbo].[treatment_plan_template] ADD  DEFAULT (newid()) FOR [template_id]
GO
ALTER TABLE [dbo].[treatment_plan_template] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_plan_template] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[treatment_plan_template] ADD  DEFAULT ('draft') FOR [status]
GO
ALTER TABLE [dbo].[treatment_result] ADD  DEFAULT (newid()) FOR [result_id]
GO
ALTER TABLE [dbo].[treatment_result] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_schedule] ADD  DEFAULT (newid()) FOR [schedule_id]
GO
ALTER TABLE [dbo].[treatment_schedule] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[treatment_workflow_log] ADD  DEFAULT (newid()) FOR [log_id]
GO
ALTER TABLE [dbo].[treatment_workflow_log] ADD  DEFAULT (getdate()) FOR [action_timestamp]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (newid()) FOR [user_id]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_email_verified]
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[service_request] ([request_id])
GO
ALTER TABLE [dbo].[appointmentProposal]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[service_request] ([request_id])
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[blog_images]  WITH CHECK ADD  CONSTRAINT [FKick7fmlc9g77g6yxscfssqqwu] FOREIGN KEY([blog_id])
REFERENCES [dbo].[blog] ([blog_id])
GO
ALTER TABLE [dbo].[blog_images] CHECK CONSTRAINT [FKick7fmlc9g77g6yxscfssqqwu]
GO
ALTER TABLE [dbo].[clinical_result]  WITH CHECK ADD FOREIGN KEY([visit_id])
REFERENCES [dbo].[patient_visit] ([visit_id])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([blog_id])
REFERENCES [dbo].[blog] ([blog_id])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[comment] ([comment_id])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[doctor_work_schedule]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Schedule_User] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[doctor_work_schedule] CHECK CONSTRAINT [FK_Doctor_Schedule_User]
GO
ALTER TABLE [dbo].[doctorAssignment]  WITH CHECK ADD FOREIGN KEY([assigned_by])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[doctorAssignment]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[service_request] ([request_id])
GO
ALTER TABLE [dbo].[email_verification_token]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD FOREIGN KEY([schedule_id])
REFERENCES [dbo].[treatment_schedule] ([schedule_id])
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[password_reset_token]  WITH CHECK ADD  CONSTRAINT [fk_password_reset_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[password_reset_token] CHECK CONSTRAINT [fk_password_reset_user]
GO
ALTER TABLE [dbo].[patient_visit]  WITH CHECK ADD FOREIGN KEY([doctor_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[patient_visit]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[profile]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[role]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[service_request]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[service_request]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRequest_Service] FOREIGN KEY([service_id])
REFERENCES [dbo].[service] ([service_id])
GO
ALTER TABLE [dbo].[service_request] CHECK CONSTRAINT [FK_ServiceRequest_Service]
GO
ALTER TABLE [dbo].[treatment_phase_status]  WITH CHECK ADD FOREIGN KEY([phase_id])
REFERENCES [dbo].[treatment_phase] ([phase_id])
GO
ALTER TABLE [dbo].[treatment_phase_status]  WITH CHECK ADD FOREIGN KEY([treatment_plan_id])
REFERENCES [dbo].[treatment_plan] ([plan_id])
GO
ALTER TABLE [dbo].[treatment_plan]  WITH CHECK ADD FOREIGN KEY([template_id])
REFERENCES [dbo].[treatment_plan_template] ([template_id])
GO
ALTER TABLE [dbo].[treatment_plan]  WITH CHECK ADD FOREIGN KEY([visit_id])
REFERENCES [dbo].[patient_visit] ([visit_id])
GO
ALTER TABLE [dbo].[treatment_plan]  WITH CHECK ADD  CONSTRAINT [FK_treatment_plan_treating_doctor] FOREIGN KEY([treating_doctor_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[treatment_plan] CHECK CONSTRAINT [FK_treatment_plan_treating_doctor]
GO
ALTER TABLE [dbo].[treatment_result]  WITH CHECK ADD FOREIGN KEY([schedule_step_id])
REFERENCES [dbo].[treatment_schedule] ([schedule_id])
GO
ALTER TABLE [dbo].[treatment_schedule]  WITH CHECK ADD FOREIGN KEY([plan_id])
REFERENCES [dbo].[treatment_plan] ([plan_id])
GO
ALTER TABLE [dbo].[treatment_workflow_log]  WITH CHECK ADD  CONSTRAINT [FK_workflow_log_treatment_plan] FOREIGN KEY([treatment_plan_id])
REFERENCES [dbo].[treatment_plan] ([plan_id])
GO
ALTER TABLE [dbo].[treatment_workflow_log] CHECK CONSTRAINT [FK_workflow_log_treatment_plan]
GO
ALTER TABLE [dbo].[appointment]  WITH CHECK ADD CHECK  (([check_in_status]='Missed' OR [check_in_status]='CheckedIn' OR [check_in_status]='Pending'))
GO
ALTER TABLE [dbo].[appointmentProposal]  WITH CHECK ADD CHECK  (([status]='Expired' OR [status]='Rejected' OR [status]='Confirmed' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[blog]  WITH CHECK ADD  CONSTRAINT [CK__blog__status__04E4BC85] CHECK  (([status]='archived' OR [status]='published' OR [status]='pending' OR [status]='draft'))
GO
ALTER TABLE [dbo].[blog] CHECK CONSTRAINT [CK__blog__status__04E4BC85]
GO
ALTER TABLE [dbo].[clinical_result]  WITH CHECK ADD CHECK  (([result_type]='Other' OR [result_type]='Text' OR [result_type]='Image' OR [result_type]='Lab'))
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD CHECK  (([notification_type]='App' OR [notification_type]='Email'))
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD CHECK  (([status]='Pending' OR [status]='Failed' OR [status]='Sent'))
GO
ALTER TABLE [dbo].[profile]  WITH CHECK ADD CHECK  (([status]='on_leave' OR [status]='inactive' OR [status]='active'))
GO
ALTER TABLE [dbo].[role]  WITH CHECK ADD CHECK  (([role_type]='Admin' OR [role_type]='Manager' OR [role_type]='Doctor' OR [role_type]='Customer'))
GO
ALTER TABLE [dbo].[service_request]  WITH CHECK ADD CHECK  (([doctor_selection]='Auto' OR [doctor_selection]='Manual'))
GO
ALTER TABLE [dbo].[service_request]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='MissedAppointment' OR [status]='UnconfirmedExpired' OR [status]='Re-ProposeSchedule' OR [status]='Scheduled' OR [status]='PendingScheduleProposal' OR [status]='PendingAssignment'))
GO
ALTER TABLE [dbo].[treatment_phase_status]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='In Progress' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[treatment_result]  WITH CHECK ADD CHECK  (([status]='pending' OR [status]='failed' OR [status]='success'))
GO
ALTER TABLE [dbo].[treatment_schedule]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='Scheduled'))
GO
ALTER TABLE [dbo].[treatment_schedule]  WITH CHECK ADD CHECK  (([treatment_type]='Lab Test' OR [treatment_type]='Ultrasound' OR [treatment_type]='IVF' OR [treatment_type]='IUI' OR [treatment_type]='Injection'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([gender]='OTHER' OR [gender]='FEMALE' OR [gender]='MALE'))
GO
/****** Object:  StoredProcedure [dbo].[sp_check_treatment_plan_access]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_check_treatment_plan_access]
    @plan_id UNIQUEIDENTIFIER,
    @user_id UNIQUEIDENTIFIER,
    @user_role NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @has_access BIT = 0;
    
    IF @user_role = 'CUSTOMER'
    BEGIN
        -- Patient can only view their own plans
        IF EXISTS (SELECT 1 FROM treatment_plan WHERE plan_id = @plan_id AND patient_id = @user_id)
            SET @has_access = 1;
    END
    ELSE IF @user_role = 'DOCTOR'
    BEGIN
        -- Doctor can only view plans for their patients
        IF EXISTS (SELECT 1 FROM treatment_plan WHERE plan_id = @plan_id AND treating_doctor_id = @user_id)
            SET @has_access = 1;
    END
    ELSE IF @user_role IN ('MANAGER', 'ADMIN')
    BEGIN
        -- Manager/Admin can view all plans
        IF EXISTS (SELECT 1 FROM treatment_plan WHERE plan_id = @plan_id)
            SET @has_access = 1;
    END
    
    SELECT @has_access as has_access;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_validate_treatment_plan_creation]    Script Date: 7/3/2025 10:44:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_validate_treatment_plan_creation]
    @patient_id UNIQUEIDENTIFIER,
    @treating_doctor_id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @is_valid BIT = 1;
    DECLARE @error_message NVARCHAR(500) = '';
    
    -- Check: Patient already has active plan?
    IF EXISTS (SELECT 1 FROM treatment_plan WHERE patient_id = @patient_id AND status = 'active')
    BEGIN
        SET @is_valid = 0;
        SET @error_message = 'Patient already has an active treatment plan';
    END
    
    SELECT @is_valid as is_valid, @error_message as error_message;
END

GO
USE [master]
GO
